/* CSS BOX MODEL
This model has three properies- Padding, Border, Margin */
/* Padding- the distance you have between your content you have in your element and the edge */
/* Border- goes around element*/
/*Margin- Distance between the edges of the screen or some other element */


h1{
 background: red;
 padding: 20px;
 border-style: dashed;
 border-width: 10px;
 border-color: purple;
/*this code is for a border below ie its not all around 
 border-bottom-style:dashed ;
 border-bottom-width: 5px;
 border-bottom-color: brown; */

 /* margin:30px;- margin all around */
 /* margin:100px 20px 10px 50px;-margin from top clockwise */
}

p{
 padding: 20px;
 margin: 50px 20px;
 /* border shortcut */
 border: 15px solid yellow;
 background-color: blue;

}
